<div class="row">
  <div class="col-md-7">
    <%= render 'layouts/messages' %>
      <% if @stock %>
        <div class="card bg-light mb-3">
          <h5 class="card-header">
            <strong><%= @stock.name %></strong> (<%= @stock.ticker %>)
          </h5>
          <div class="card-body">
            <p class="card-text"><strong>Price: </strong>$<%= @stock.last_price %></p>
          </div>
        </div>
      <% end %>
  </div>  
</div>
