<h1>My Portfolio</h1>

<div class="row">
  <div class="col-md-7">
    <%= form_tag search_stock_path, remote: true, method: :get do %>
      <div class="input-group mb-3">
        <%= text_field_tag :stock, params[:stock], class:"form-control form-control-lg", placeholder:"Enter desired ticker...", autofocus: true %>
        <div class="input-group-append">
          <%= button_tag type: :submit, class:"btn btn-outline-success btn-lg" do %>
            <%= fa_icon 'search' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="results"></div>
