<h1>User Details</h1>

<div class="row">
  <div class="col-md-9">
    <table class="table">
      <tbody>
          <tr>
            <td><strong>Name: </strong><%= @user.full_name %></td>
            <td><strong>Email: </strong><%= @user.email %></td>
            <td>
              <% if current_user.not_friends_with?(@user.id) %>
                <%= link_to (fa_icon 'plus', title:"Follow User"), friendships_path(friend: @user), method: :post, class:"btn btn-success btn-sm" %>
              <% else %>
                <span class="badge badge-secondary">
                  You are friends
                </span>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
    <%= render 'stocks/table' %>
  </div>
</div>

